<div class="jumbotron mt-3" style="opacity: 81%;">
   <em> <h1 class="display-4">Notas Vip</h1>
   <FONT SIZE=3>
   <b><em><p clss="lead">Sencilla aplicacion diseñada para mantener tus notas ordenadas por categorias. Solo necesitas registrar tu cuenta por medio de tu correo para empezar a usarla</p>
    <hr class="my-3">
    <p>  Por el momento nos encontramos en desarrollo y pronto se le agregaran mas funciones. La aplicacion esta deseñada de forma segura.
       version 1.3 </br></p>
        <p> No mandaremos ni mail ni nada por el estilo (sabemos los molestos que son). 
       Una futura actualizacion mandara mail a su correo solo si desea recuperar su cuenta en caso de olvidar su contraseña. 
    </p></b></em></FONT>
    <a href="/users/formRegistro" class="btn btn-primary">Registrate!</a>
</div>
