<div class="jumbotron mt-4">
    <h1 class="display-4">Notas con Node.js y MongoDB</h1>
    <p clss="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sed, beatae aliquid doloribus voluptates iste ipsa esse est sapiente voluptatem quasi asperiores tempora unde earum, dicta recusandae, nam maiores pariatur!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia perferendis autem neque distinctio illo suscipit quisquam praesentium nemo quas, veritatis voluptatem veniam ipsum est porro, similique non, dolorem quod harum?</p>
    <a href="https://www.google.com" class="btn btn-primary">google</a>
</div>
