<div class="row" style="opacity: 93%;">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                Actualizar Cuenta
            </div>
            <div class="card-body">
                <form action="/users/actualizar" method="POST">
                <div class="form-group">
                        <input type="hidden" class="form-control" name="id" placeholder="Email"  value="{{userEditar._id}}"required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email"  value="{{userEditar.email}}"required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña Anterior" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="newPassword" placeholder="Nueva Contraseña" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmar_newPassword" placeholder="Confirmar Nueva Contraseña" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Actualizar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>